<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Project</title>
    <style>
        h1,div,p,span{
            font-size: 33px; font-family: Arial, Helvetica, sans-serif;
        }
        span{color: red;}
    </style>
    <script text="text/javascript" src="vue.js"></script>
</head>
<body>

    <div id="app">
        <!-- <p>Test name <span v-text='name'></span></p> -->
        <!-- {{ name }} can give us flexibility than v-text -->
        <!-- <p>Test name <span v-html='name'></span></p>
        <img src="img/vue_logo.png" alt="Vue Logo">
        <br/>
        <img v-bind:src='logo' v-bind:title='title'> -->

        <!-- <ul>
            <li v-for="el in info_set">{{ el }}</li>
        </ul> -->

        <!-- <ul v-for="el in info_set"> -->
            <!-- el is json data now -->
            <!-- <li>{{el.brand}}</li>
            <li>{{el.model}}</li> -->
        <!-- </ul> -->
        <!-- <button @click="sayHi('Hey')">Click Me</button> -->

        <!-- <span>{{ message }}</span>
        <button @click="message =! message">Click Me</button> -->

        <!-- <input v-model.number="message" type="text" /> -->
        <!-- <textarea v-model.lazy="message" id="" cols="30" rows="10"></textarea> -->
        <!-- <span>Apple</span><input type="checkbox" value="Apple" v-model="message">
        <span>Orange</span><input type="checkbox" value="Orange" v-model="message">
        <span>Peach</span><input type="checkbox" value="Peach" v-model="message"> -->
        <!-- <select v-model="message">
            <option v-for="el in info_set" v-bind:value="el.value">{{ el.text }}</option>
        </select> -->
        <!-- <label for="">First Name:</label>
        <input v-model="first_name" type="text" />
        <label for="">Last Name:</label>
        <input v-model="last_name" type="text" /> -->
        <!-- <p v-bind:title="title | capitalized">Processed value: <span v-bind:title="message | capitalized">{{ message | capitalized | shorthenString }}</span></p> -->
        <!-- <p v-bind:title="title | capitalized">Processed value: <span v-bind:title="message | capitalized">{{ computedMessage | capitalized | shorthenString }}</span></p> -->
        <!-- <p v-bind:title="title | capitalized">Full Name: <span v-bind:title="message | capitalized">{{ computedFullName }}</span></p> -->
        <label for="">Max</label>
        <input type="text" name="" id="" v-model="max" v-on:input="check_max">
        <input class="form-control" type="text" v-model="input" v-on:input="check">
        <label for="">{{ remaining }}/{{ max }}</label>

    </div>

    <script type="text/javascript">

        // var model = {
        //     name:'<b>EM Cabua</b>',
        //     logo:'img/vue_logo.png',
        //     title:'Vue logo',
        // }

        // var model = {
        //     info_set: [
        //         'first',
        //         'second',
        //         'third',
        //         'fourt',
        //         'fifth',
        //         'sixth'
        //     ],
        // }

        // info_set: [
        //             {value:'Toyota', text:'Toyota 2011'},
        //             {value:'Yamaha', text:'Yamaha 2012'},
        //             {value:'Suzuki', text:'Suzuki 2013'},
        //             {value:'Rusi', text:'Rusi 2014'},
        //         ]


        // Instantiate the vue class
        var vm = new Vue ({
            el:'#app',
            // data:model,
            data: {
                // message: 'Message set in data',
                // title: 'title set in title attribute',
                // first_name: '',
                // last_name: '',
                input: '',
                max: 10,
            },
            filters: {
                capitalized: function(value){
                    return value.toUpperCase();
                },
                shorthenString: function(value) {
                    var num = 10;
                    if( !value || value.length <= num) {
                        return value;
                    }
                    return value.slice(0, num) + '...'
                }
            },
            computed: {
                computedMessage: function(){
                    return this.message.split('').reverse().join('');
                },
                computedFullName: function(){
                    return this.first_name + ' ' + this.last_name;
                },
                remaining: function(){
                    return this.input.length;
                }
            },
            methods: {
                output: function(){
                    alert(this.message);
                },
                sayHi: function(message){
                    alert(message);
                },
                check: function(){
                    this.input = this.input.substr(0,this.max);
                },
                check_max : function(){
                    this.max = ( isNaN(parseInt(this.max))) ? 0 : parseInt(this.max);
                }
            },
        });

    </script>
    
</body>
</html>